
/* Banner part */
.first-banner{
    background-image: url(images/Banner\ Image.png);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px; height: 600px;
    margin: auto;
    border-radius: 16px;    
}
.new-year{
    position: relative;
    text-align: center;
}
.banner-title{
    padding-top: 177px;
    color: #FFF;
    font-family: Merriweather,Arial, Helvetica, sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.banner-heading{
color: #FFF;
font-family: Merriweather,Arial, Helvetica, sans-serif;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px;
width: 632px;
margin: auto;
}
/* main part  deals section*/
.off-section{
    text-align: center;
}
.off{
    color: #F00;
text-align: center;
font-family: Inter, Arial, Helvetica, sans-serif;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 0px;
}
.deals{
color: #F00;
text-align: center;
font-family: Inter, Arial, Helvetica, sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 0px;
margin-bottom: 0px;
margin-top: 30px;
}
.categories{
color: #070211;
text-align: center;
font-family: Inter, Arial, Helvetica, sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: auto;
padding-top: 0px;
margin-top: 0px;
margin-bottom: 85px;
}
.ny-photo{
display: block;
margin: auto;
}
/* party banner section */
.party{
    background-image: url(images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px; height: 600px;
    margin: auto;
    border-radius: 16px;
    margin-top:120px;
    align-items: center;
    display: flex;
    
}
.party-heading{
    color: #FFF;

font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
width: 642px;
}
.party-p{
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
width: 697px;
}
.join{
    color: #FFF;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
text-decoration: none;
padding-left: 50px;
}
.party-txt{
   margin: auto;
}
.img-2024{
    
width: 315px;
height: 460px;
padding-right: 138px;
padding-top: 68px;
padding-bottom: 68px;
}
/* Place section */

.place{
width: 1320px;
height: 482px;
background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
margin: auto;
border-radius: 16px;
text-align: center;
}
.place-txt{
color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
margin: 0;
padding: 0;
width: 549px;
height: 168px;
padding: 100px 214px 214px 385px;
margin-top: 120px;
}

.pdt{color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.primary-btn{
justify-content: center;
align-items: center;
border-radius: 8px;
background: #F00;
border: 0;
font-size: 20px;
color: white;
padding: 16px 32px;
}
/* comming-soon section */

.coming-soon{
    width: 1320px;
height: 482px;
justify-content: center;
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
    margin: auto;
}

.nbo{
    color: #F00;
text-align: left;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 0px;
margin-bottom: 0px;
}
.cs{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin: 0px;
padding:10px 0px;
}
.nyp{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */ 
}
.celebration{
width: 364.844px;
height: 364.844px;
border: 10px solid red;
padding: 15px;
border-radius: 364.844px;

}
.ny24{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.newyp{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}

.hny{
    width: 140px;
height: 140px;
}