.first-banner{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url(images/Banner\ Image.png) ;
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px; height: 600px;
    margin: auto;
    border-radius: 16px;
    
    
}
.new-year{
    position: relative;
    text-align: center;
}
.banner-title{
    padding-top: 177px;
    color: #FFF;
    font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.banner-heading{
color: #FFF;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px;
width: 632px;
margin: auto;
}