
/* Banner part */
.first-banner{
    background-image: url(images/Banner\ Image.png);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px; height: 600px;
    margin: auto;
    border-radius: 16px;    
}
.new-year{
    position: relative;
    text-align: center;
}
.banner-title{
    padding-top: 177px;
    color: #FFF;
    font-family: Merriweather,Arial, Helvetica, sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.banner-heading{
color: #FFF;
font-family: Merriweather,Arial, Helvetica, sans-serif;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px;
width: 632px;
margin: auto;
}
/* main part  deals section*/
.off-section{
    text-align: center;
}
.off{
    color: #F00;
text-align: center;
font-family: Inter, Arial, Helvetica, sans-serif;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 0px;
}
.deals{
color: #F00;
text-align: center;
font-family: Inter, Arial, Helvetica, sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 0px;
margin-bottom: 0px;
margin-top: 30px;
}
.categories{
color: #070211;
text-align: center;
font-family: Inter, Arial, Helvetica, sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: auto;
padding-top: 0px;
margin-top: 0px;
margin-bottom: 85px;
}
.ny-photo{
display: block;
margin: auto;
}
/* party banner section */
.party{
    background-image: url(images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px; height: 600px;
    margin: auto;
    border-radius: 16px;
    margin-top:120px;
    align-items: center;
    display: flex;
    
}
.party-heading{
    color: #FFF;

font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px;
letter-spacing: 7px;
width: 642px;
}
.party-p{
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
width: 697px;
}
.join{
    color: #FFF;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
text-decoration: none;
padding-left: 50px;
}
.party-txt{
   margin: auto;
}
.img-2024{
    
width: 315px;
height: 460px;
padding-right: 138px;
padding-top: 68px;
padding-bottom: 68px;
}
/* Place section */

.place{
width: 1320px;
height: 482px;
background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
margin: auto;
border-radius: 16px;
text-align: center;
margin-bottom: 120px;
}
.place-txt{
color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
margin: 0;
padding: 0;
width: 549px;
height: 168px;
padding: 100px 214px 214px 385px;
margin-top: 120px;
}

.pdt{color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.primary-btn{
justify-content: center;
align-items: center;
border-radius: 8px;
background: #F00;
border: 0;
font-size: 20px;
color: white;
padding: 16px 32px;
}
/* comming-soon section */

.coming-soon{
    width: 1320px;
height: 482px;
justify-content: center;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.nbo{
    color: #F00;
text-align: left;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 0px;
margin-bottom: 0px;
}
.cs{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin: 0px;
padding:10px 0px;
}
.nyp{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */ 
}
.celebration{
width: 365px;
height: 365px;
border: 10px solid red;
padding: 15px;
border-radius: 364.844px;

}
.ny24{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.newyp{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}

.hny{
    width: 140px;
height: 140px;
}
/* holyday-sale section */
.holyday-sale-part{
width: 1320px;
background: #FFF;
margin: auto;
margin-bottom: 120px;
}
.holyday-sale-txt{
    text-align: center;
}
.hh1{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}
.hh2{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 10px;

}
.sale-50{
color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.hhp{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 1068px;
    height: 86px;
    margin: auto;
}
/* holyday-sale-image section */

.holyday-sale-image{
     display: flex;
    align-items: center;
    padding-left: 130px;
   
    
}

.gift-image{
    width: 675px;
    height: 578px;
}
.discount-image{
    width: 207px;
height: 207px;
}


.holyday-sale-image{
    background-image: url(images/Rectangle\ 1.png),url(images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: top right, bottom;
    background-size:429px 433px , 1320px 145px;
}
/* portfolio section */
.portfolio{
    width:1320px;
    margin: auto;
}

.gift-h{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 5px;
}
.pf-h{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin:10px 0px;
}
.pf-p{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
width: 896px;
}
.products{
width: 424px;
height: 450px;
}
.products-image{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
/* newsletter section */
.newsletter{
    width: 1320px;
/* height: 616px; */
margin: auto;
margin-top: 120px;
background: rgba(255, 0, 0, 0.05);
border-radius: 16px;
}
.newsletter-elements{
    text-align: center;
}
.ns-h{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-bottom: 10px;
}
.ns-p{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
width: 896px;
margin: auto;
}
.mail-submit-section{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 80px;

}
.mail-submit{
    border: none;
    outline: none;
    width: 648px;
height: 72px;
border-radius: 50px;
background: #FFF;
}
.Subscribe{
    border: none;
    outline: none;
    width: 210px;
height: 72px;
border-radius: 0px 50px 50px 0px;
background: #F00;
}
.mail-submit-section{
    
}
.sub{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;

}
::placeholder{
    color: rgba(7, 2, 17, 0.30);
text-align: left;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.mail-submit-section{
    position: relative;
}
/* Footer part */
.footer-part{
width: 1400px;

background: #070211;
margin: auto;
margin-top: 100px;
}


.txt-website-call{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-row{
width: 1320px;
height: 1px;
background: rgba(255, 255, 255, 0.15);
margin-top: 50px;

}
.social-icons{
    padding: 25px 0px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    
}
.footer-txt{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.copyright-txt{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
}
.icon-txt{color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin: 0px 50px;
    padding:0px;
}
    
.a{
    display: flex;
    align-items: center;
    margin-top: 120px;    
}
.b{
    display: flex;
    align-items: center;
}
.location-txt{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
width: 375px;
height: 80px;
margin: 0px 50px;
margin-top: 120px;
}